.padre {
    background: wheat;
    height: 100px;
    /*IMPORTANTE*/
    justify-content: center;
    align-items: center;
}

.hijo {
    background: white;
    width: 300px;
}

body {
    font-size: 25px;
    font-family: "Tahoma";
    background-color: lemonchiffon
}
